/* dashboard.css */

.page-title {
  font-size: var(--heading-size);
  margin-bottom: 1rem;
}

.user-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  margin-left: 1rem;
}

.dashboard-container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 4rem 2rem;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 1281px) {
  .dashboard-container {
    padding-left: calc((100vw - var(--max-container-width)) / 2);
    padding-right: calc((100vw - var(--max-container-width)) / 2);
  }
}

@media (max-width: 900px) {
  .dashboard-container {
    padding: 2rem 1.25rem;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

@media (min-width: 901px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}

