/* dashboard.css */

.page-title {
  font-size: var(--heading-size);
  margin-bottom: 1rem;
}

.user-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  margin-left: 1rem;
}

.dashboard-container {
  max-width: 1350px;            /* Match --max-container-width */
  margin: 70px auto;
  padding: 2rem 2rem;
  background-color: #ffffff;    /* White background */
  color: #231F20;               /* Dark text to match */
  min-height: 100vh;
}

@media screen and (min-width: 1351px) {
  .dashboard-container {
    padding-left: calc((100vw - var(--max-container-width)) / 2);
    padding-right: calc((100vw - var(--max-container-width)) / 2);
  }
}

@media (max-width: 900px) {
  .dashboard-container {
    padding: 4rem 2rem;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

@media (min-width: 901px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}

